*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-color: #2d2c2c;
    --blue-solid: #0a104f;
    --blue-transparent: rgba(0, 0, 125, 0.7);
    --blue-transparent-alt: #00007d4d;
    --blue-light: #0d3fbd;
    --orange-solid: #ff9008;
    --gradient-color: linear-gradient(to right, var(--orange-solid), var(--blue-light));
    --gradient-color-alt: linear-gradient(to right, var(--blue-light), var(--orange-solid));
}

html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: #2d2c2c;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

section {
    padding: 5rem 0;
}

.container {
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.button {
    color: #fff;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5rem 3.5rem;
    border: none;
    border-radius: 10rem;
    display: inline-flex;
    align-items: center;
}

.button-gradient {
    background-image: var(--gradient-color);
    font-family: 'Open Sans', sans-serif;
}

.button-gradient:hover {
    background-image: var(--gradient-color-alt);
    transform: scale(1.1);
}

.dots {
    font-size: 2rem;
    margin-left: 1.5rem;
    opacity: 0.7;
}


/* header */

header {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--blue-transparent);
    z-index: 999;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-width: 55%;
}

.hamburger-menu {
    font-size: 2.6rem;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 1500;
}

.hamburger-menu .fa-times {
    display: none
}

.nav-list {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--blue-solid);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1400;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s;
}

.menu-open .nav-list {
    opacity: 1;
    transform: scale(1);
}

.menu-open .hamburger-menu .fa-times {
    display: block;
}

.menu-open .hamburger-menu .fa-bars {
    display: none;
}

.nav-item:not(:last-child) {
    margin-bottom: 0.5rem;
}

.nav-link {
    display: block;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem;
}


/* explore section */

.explore {
    width: 100%;
    height: 100vh;
    background: url("./assets/split-2.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 0;
}

.explore::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: var(--blue-transparent-alt);
    z-index: -1;
}

.explore-heading {
    color: #fff;
    line-height: 1.3;
    text-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
}

.title {
    font-size: 4.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.subtitle {
    font-size: 2.5rem;
    font-weight: 200;
    font-family: 'Courgette', cursive;
}


/* booking section */

.booking {
    background-image: var(--gradient-color);
}

.input-group {
    margin-bottom: 1.1rem;
}

.input-label {
    display: block;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.input,
.options {
    outline: none;
    border: none;
    width: 100%;
    min-height: 2.2rem;
    padding: 1rem;
    font-weight: bold;
    color: #766e6eb8;
    letter-spacing: 2px;
    font-family: "Open Sans", sans-serif;
    resize: none;
}

.form {
    align-items: center;
    text-align: center;
}

.button-form {
    margin-top: 2rem;
}

.button-search {
    background-color: #fff;
    color: var(--blue-light);
    font-family: 'Open Sans', sans-serif;
    padding: 0.5rem 8rem;
}

.button-search:hover {
    background-color: var(--blue-light);
    color: #fff;
    transform: scale(1.1);
}

 ::placeholder {
    color: inherit;
}


/* apartments */

.section-head {
    text-align: center;
    margin-bottom: 5rem;
}

.heading {
    font-size: 4rem;
    text-transform: uppercase;
    display: block;
}

.sub-heading {
    font-size: 1.7rem;
    font-family: 'Courgette', cursive;
    font-weight: 300;
    color: #a5a5a5;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2.5rem;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.apartment-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.featured-apartment {
    height: 35rem;
    color: #fff;
    margin: 1rem;
    position: relative;
    z-index: 0;
}

.featured-apartment::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue-transparent-alt);
    z-index: -1;
}

.apartment-name {
    font-size: 2.4rem;
}

.apartment-price {
    font-size: 2rem;
}

.apartment-rating {
    margin: 1rem 0 2.5rem;
}